.container_cards {
    background-color: #EAE8E4;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_cards, .titulo_cards_2 {
    padding: 2rem;
    color: #2D2D2D;
    box-sizing: border-box;
    && > p {
        margin-top: 1rem;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imagens_cidades {
    && > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        && > img {
            width: 90%;
        }
    }
}

.card {
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    && > div {
        && > p {
            padding: 1rem 0;
        }
        && > h3 {
            font-size: 22px;
            font-weight: 500;
        }
    }
}

.apps_disponiveis {
    background-color: #3C0C60;
    width: 75%;
    margin: 4rem 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 25px;
    && > div {
        color: #EAE8E4;
        && > h2 {
            font-weight: 500;
            font-size: 28px;
        }
        && > p {
            padding: .6rem 0 1.5rem 0;
            font-weight: 300;
            font-size: 19px;
        }
    }
}

.apple_google_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    && > img {
        width: 100%;
    }
}

.escolher_categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-bottom: 2rem;
    width: 90%;
    && > h2 {
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 2px;
    }
    && > div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding: 2rem 0;
        && > button {
            color: #7D26C9;
            font-weight: 500;
            background-color: #DFDCD5;
            padding: .7rem 2rem;
            border-radius: 50px;
            border: 1px solid #7D26C9;
            font-size: 18px;
        }
    }
}

.card2 {
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    border: 2px solid #DFBBFE;
    color: #2D2D2D;
    && > div {
        && > p {
            padding: 1rem 0;
            font-weight: 300;
            font-size: 18px;
        }
        && > h3 {
            font-size: 22px;
            font-weight: 500;
        }
    }
    && > button {
        padding: .7rem 2.5rem;
        font-weight: bold;
        background-color: #DFBBFE;
        border: none;
        border-radius: 5px;
        color: #2D2D2D;
        font-size: 18px;
    }
}

.cards_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .titulo_cards {
        width: 100%;
        padding: 5rem 4rem 3rem 4rem;
        && > h2 {
            font-size: 44px;
            font-weight: 500;
        }
        && > p {
            font-size: 24px;
            font-weight: 300;
        }
    }

    .cards {
        flex-direction: row;
        gap: 1.5rem;
        justify-content: center;
    }

    .card {
        width: 20%;
        gap: 1rem;
        padding: .4rem .4rem 1rem .4rem;
        && > div {
            padding: .2rem .5rem .5rem .5rem;
            && > p {
                padding: 1rem 0 0 0;
                font-size: 18px;
                line-height: 150%;
                font-weight: 300;
            }
            && > h3 {
                font-size: 24px;
                font-weight: 500;
            }
        }
        && > img {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .imagens_cidades {
        display: flex;
        flex-direction: row;
        padding: 4rem 5rem;
        && > div {
            width: 100%;
        }
    }

    .titulo_cards_2 {
        padding: 1rem 2rem 2rem 1rem;
        && > h2 {
            font-size: 40px;
            font-weight: 700;
        }
        && > p {
            font-size: 22px;
            font-weight: 300;
        }
    }

    .apps_disponiveis {
        flex-direction: row;
        padding: 3rem;
        width: 80%;
        && > div {
            && > h2 {
                font-size: 38px;
            }
            && > p {
                font-size: 24px;
                padding: 1rem 0 0 0;
            }
        }
    }

    .escolher_categorias {
        align-items: start;
        && > h2 {
            font-size: 38px;
        }
        && > div {
            gap: 1.5rem;
            width: 95%;
            && > button {
                font-size: 20px;
                padding: .5rem 2.5rem;
                transition: .4s ease-in-out;
                &&:hover {
                    background-color: #FFBCD5;
                    cursor: pointer;
                }
            }
        }
    }

    .cards_2 {
        flex-direction: row;
        gap: 2rem;
        width: 90%;
    }

    .card2 {
        && > div {
            && > h3 {
                font-size: 24px;
            }
            && > p {
                font-size: 20px;
                line-height: 150%;
            }
        }
        && > button {
            transition: .2s ease-in-out;
            &&:hover {
                background-color: #FFDBFE;
                cursor: pointer;
            }
        }
    }
}
