@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.banner_inicial {
    background-color: #2D2D2D;
    position: relative;
    height: 64vh;
}

.nav_inicial {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    position: absolute;
    z-index: 2;
    background-color: #2D2D2D;
    width: 92%;
    border-radius: 20px;
}

.nav_categorias {
    display: none;
}

#menu_hamburguer {
    width: 6vw;
}

#banner_monks_logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

#banner_monks_logo_2 {
    display: none;
}

.texto_banner_inicial {
    color: #EAE8E4;
    width: 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    padding-top: 4rem;
    && > h1 {
        font-weight: 700;
    }
    && > p {
        font-weight: 100;
    }
    && > img {
        width: 20%;
    }
}

#menu_aberto {
    position: absolute;
    height: 100vh;
    width: 85%;
    background-color: #DFBBFE;
    padding: 2rem;
    top: 2rem;
    z-index: 1;
    font-weight: bold;
    font-size: 22px;
    && > img {
        margin: 3rem 0 0 9rem;
    }
    && > ul > li {
        margin: 2rem 0;
        && > a {
            text-decoration: none;
            color: #2D2D2D;
        }
    }
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {

    body {
        background-color: #EAE8E4;
    }

    #menu_hamburguer {
        display: none;
    }

    .nav_categorias {
        display: flex;
        gap: 3rem;
        padding-left: 2rem;
        && > a {
            text-decoration: none;
            color: #EAE8E4;
            font-size: 20px;
            font-weight: 300;
            transition: .4s ease-in-out;
            background-image: linear-gradient(90deg, #6D2D2D, blue);
            background-repeat: no-repeat;
            background-size: 0% 3px;
            background-position: left bottom;
            &&:hover {
                background-size: 100% 3px;
            }
        }
    }

    .nav_inicial {
        padding-left: 5rem;
        padding-top: 1.5rem;
        align-items: center;
        && > a {
            width: 10%;
            && > img {
                width: 100%;
            }
        }
    }

    #banner_monks_logo {
        display: none;
    }

    #banner_monks_logo_2 {
        display: inline-block;
        position: absolute;
        z-index: 2;
        right: 2rem;
    }

    .banner_inicial {
        background-color: #2D2D2D;
        position: relative;
        height: 73.2vh;
        border-radius: 0 0 25px 25px;
    }

    .texto_banner_inicial {
        width: 50%;
        padding: 6rem 5rem 0 5rem;
        flex-direction: column;
        && > h1 {
            font-size: 45px;
            padding-top: 1rem;
        }
        && > p {
            font-size: 25px;
        }
        && > img {
            width: 10%;
            padding-top: 1rem;
        }
    }
}